# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs and temporary files
*.log
*.tmp
*.json
*.txt
!requirements.txt


# Experiment results
exp/
tmp/
popped_constraint_position/

# SHAP artifacts
shap_value/
shap_value_all_layer/

# my scripts
dnnct_transformer_multi_approved.py
build_insight.py

# exp documentation
insight.md

# ref
*_new.py

# models
*.h5
